<app-main-container>
  <div class="card-container">
    <div class="content">
      <div class="content__header">
        <img
          class="content__header--img"
          src="assets/images/foto.jpeg"
          alt="Betania Gonzalez Foto"
        />
        <app-social-media />
      </div>
      <h1>Welcome.</h1>
      <div class="content__body">
        <div class="content__body--first border-style">
          <p>
            My name is Betania González, I am a frontend developer specialized in
            Angular, with more than 5 years of experience. I have collaborated on
            projects from E-commerce to science and finance.
          </p>
          <p>
            I am passionate about
            creating interfaces and functionalities that make people's lives easier.
            I am an ambassador for the Angular community Peru, often giving talks
            and sharing content on technology and professional growth.
          </p>
        </div>
        <div class="content__body--second">
          <h2>Projects</h2>
          <div class="projects">
            <span><a target="_blank" href="https://guards-and-external-api.vercel.app/">Authentication web app</a></span>
            <span><a target="_blank" href="https://frontend-commit-history.vercel.app/home/information">Commit History app</a></span>
            <span><a target="_blank" href="https://git-hub-nest-api.vercel.app/doc">Commit history backend with Nestjs</a></span>
            <span><a target="_blank" href="https://responsive-web-angular-17.vercel.app/">My Porfolio web app</a></span>
          </div>
        </div>
      </div>
      
    </div>
    <div class="footer">
      <span>© 2024 Betania González</span>
    </div>
  </div>
</app-main-container>
